body{
    font-family:arial,sans-serif;
    background-color: dodgerblue;
    padding: 50px;
}
h1{
    color:hotpink;
    padding: auto;
}
input[type="text"]
{
  color:black;
  width:50%;
  padding: 10px;
  margin-bottom:8px;
}
button{
    background-color: green,red;
    cursor: pointer;
}
#Name{
    font-family: sans-serif;
    margin:auto;
}
#Number{
    font-family: arial;
    margin:0;
}